.circle:hover{
  color:blue;
    font-weight: bold;
    font-style: normal;
    font-size: 100px;
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif;
}



#circle_1:hover{
      width: 430px;
      height: 430px;
      border: 5px solid #ffffff;
      z-index:1;
  }
#circle_2:hover{
    width: 430px;
    height: 430px;
    background-color: #bd3b66;
    border: 5px solid #ffffff;
    transform-origin: 150% -200%;
    z-index:1;
    
}
#hovered
{
  background-color: black;
}
#circle_3:hover{
  width: 430px;
  height: 430px;
  background-color: #963260;
  transform: translate(900px, 600px);
  border: 5px solid #ffffff;
  transform-origin: 200% -200%;
  z-index:1;
  
}
#circle_4:hover{
  width: 430px;
  height: 430px;
  background-color: #a7366e;
  border: 5px solid #ffffff;
  transform: translate(800px,650px);
  z-index:1;
  
}
#circle_5:hover{
  width: 430px;
  height: 430px;
  background-color: #9e2d69;
  border: 5px solid #ffffff;
  background-color: #bc367d;
  transform: translate(600px,600px);
  z-index:1;
}
#circle_6:hover{
  width: 430px;
  height: 430px;
  background-color: #dda821;
  border: 5px solid #ffffff;
  transform-origin: -70% 10%;
  z-index:1;
  
}
#circle_7:hover{
  width: 430px;
  height: 430px;
  background-color: #bb9d09;
  border: 5px solid #ffffff;
  transform-origin: 70% 70%;
  z-index:1;
  
}
#circle_8:hover{
  width: 430px;
  height: 430px;
  background-color: #869930;
  border: 5px solid #ffffff;
  transform-origin: 70% 70%;
  z-index:1;
  
}
#circle_9:hover{
  width: 430px;
  height: 430px;
  background-color: #80972e;
  border: 5px solid #ffffff;
  transform-origin: 70% 70%;
  z-index:1;
  
}
#circle_10:hover{
  width: 430px;
  height: 430px;
  background-color: #9fa523;
  border: 5px solid #ffffff;
  transform-origin: 70% 50%;
  z-index:1;
  
}

